@charset "UTF-8";
/* CSS Document */

body{
	background-color:#ece7de;
	font-family: helvetica neue;
	font-size: 16px;
	margin: 0;
	padding:10px;
}

.container{
	width:80%; /*wdith moves everything on body to how many to left or right*/
	margin:auto;
	overflow:hidden;

}
#main-header{
	background-color:#b2bd7e;
	color: #fff;
	height:175px;
	text-align: center;
}
.logo{ /* logo is LunchBox. this is LunchBox logo stuff */
	float:center;
	font-family: helvetica neue;
	font-size: 20px;
}
#navbar{
	background-color: olive;
	color: #fff;
}
#navbar ul{
	padding: 0;
	list-style: none; /* gets right of the bullet points*/
}
#navbar li{
	display: inline;   /*postions the categories in a line together*/
}
#navbar a{ /*styling the links*/
	color:#fff;
	text-decoration: none;
	font-size: 15px;
	padding-right: 27px; /* this is the spacing between home,about us, fixed recipes, anything */
}
#showcase{ /* this adjusts the middle green part with the logo*/
	background-color:#87ab7d;
	background-position: center;
	height:300px;
}
#main{ /* this deals with the text in the middle of the page starting with "tired... */
	color:black;
	text-align: center;
}





